{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Index</title>
{% block content %}
<center>
    <!-- Logo or header image -->
    <img src="{% static 'images/chat_logo.png' %}" alt="Chat App Logo" style="width:150px; height:auto; margin-bottom:20px;"><br>

    <h1>Welcome to Chat Application Bridge For Jenkins, ArgoCD Users</h1><br><br>

    <!-- Decorative image or hero image -->
    <img src="{% static 'images/chat_banner.jpg' %}" alt="Chat Banner" style="width:60%; max-width:500px; border-radius:10px; margin-bottom:30px;"><br>

    <!-- Login button -->
    <button class="button" style="vertical-align:middle">
        <span><a href="{% url 'sign_in' %}">Login</a></span>
    </button><br>

    <!-- Register link -->
    <h3><a href="{% url 'signup' %}">Click Here to register!</a></h3><br><br>
</center>
{% endblock %}

