{% block content %}
<center>
  <h1>Sign up</h1>
  <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png" alt="Chat Icon" width="80" height="80"><br><br>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        <br><br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

      {% endfor %}

    <button type="submit">Sign up</button>
  </form>
</center>
{% endblock %}
